div.urlBlock {
	border: 1px solid #E3E3E3;
  padding: 10px;
}

span.shortUrl {
  display:block;
  font-size: x-large;
}

dl {
  border-top: 1px solid #E3E3E3;
  clear: left;
  float: left;
  padding-top: 10px;
  width: 100%;
  margin: 1em 0em 0em 0em;
}
dd {
  float: left;
  margin-left: 20px;
  padding: 0px 0px 4px;
}
dt {
	clear: both;
  float: left;
  text-align: right;
  width: 80px;
  margin: 0px;
  padding: 0px 0px 4px;
}