div.explanations h2, div.explanations p, div.explanations h3, div.explanations li {
  text-align: left;
}	

div.container {
	max-width: 100%;
	width: 100%;
}

td {
	padding: 4px;
}

div.gemerCommand {
	border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
	border: 1px solid black;
	padding: 4px;
	margin: 4px;
}