div.url, div.url p {
  text-align: center;
  padding-top: 0px;
  margin-top: 0px;
}

ul, li {
	-webkit-padding-start: 0px;
	list-style-type: none;
	text-align: center;
	margin: 0px auto 0px auto;
}

li, h3 {
	text-align: left;
}

li {
	display: inline;
	border-left: 1px solid #676767;
	
	margin: 0px;
	padding: 0px 4px 0px 4px;
}

li:first-child {
	border-left: 0px solid #676767;
}