html, body {
  font-size: 1.0em;
  font-family: Helvetica, Verdana, Arial, sans-serif;
}

a, a:visited {
  font-weight: 900;
  color: #676767;
  text-decoration: none;
}

a:hover {
  color: #666;
  text-decoration: underline;
}

div.container {
  text-align: center;
  max-width: 600px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

li, h3 {
	text-align: left;
}


